* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 10px;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  background-color: #f1f2f4;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  font-size: 1.5em;
  color: #6f7b90;
  text-transform: uppercase;
}

.row {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fbfbff;
  padding: .2em .5em;
}

.row i {
  color:  #454545;
  cursor: pointer;
}

.row label {
  text-transform: uppercase;
  font-weight: bold;
  width: 80px;
}

.input-task {
  display: flex;
  align-items: center;
}

.inputStyle {
  flex-grow: 1;
  height: 30px;
  padding: .2rem .5rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

input:disabled {
  background-color: transparent;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  color: green;
}