* {
  box-sizing: border-box;
  
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
}

.container {
  background-color: #444444;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  color: #fff;

}

.container h1 {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}

.row {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  background-color: #333333;
  padding: .2em .5em;
  border-radius: 5px;
}

.row i {
  cursor: pointer;
}

.row label {
  text-transform: uppercase;
  font-weight: bold;
  width: 80px;
}

.input-task {
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  outline: none;
}

.inputStyle {
  flex-grow: 1;
  height: 30px;
  padding: .2rem .5rem;
  border: none;
}

input:disabled {
  background-color: transparent;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  
}